html,
body,
header,

.top-nav-collapse {
	background-color: #f5f5f5;
}

.background-color-modalzinho {
	background-color: #f5f5f5;
}

.img-responsive {
  width: 75%;
  height: auto;
}

@media (max-width: 850px) {
	#websitecontent {
		padding-top: 70px;
  }
  
  .img-responsive {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 851px) {
	#websitecontent {
		padding-top: 90px;
	}
}

@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background-color: #f6f6f7;
	}
	#logo-nav {
		max-width: 200px;
	}
}
@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background-color: #f6f6f7;
	}
	#logo-nav {
		max-width: 200px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-price {
    padding: .3rem .84rem;
  }
}

@media (max-width: 576px) {
  .col-rvs {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}

#logo-nav {
	max-width: 200px;
}

.section-style-bar {
	border-top: 5px solid #2bbbad;
	width: 20px;
	margin-left: 0;
}

:target {
	display: block;
	position: relative;
	top: -120px; 
	visibility: hidden;
}

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #A871AF;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}

.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em
}

.primary-lighter-hover {
  color: #4285F4;
  -webkit-transition: .4s;
  transition: .4s; }
.primary-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #8ab4f8; }

.primary-darker-hover {
  color: #4285F4;
  -webkit-transition: .4s;
  transition: .4s; }
.primary-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #0d5bdd; }

.danger-lighter-hover {
  color: #ff3547;
  -webkit-transition: .4s;
  transition: .4s; }
.danger-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ff828d; }

.danger-darker-hover {
  color: #ff3547;
  -webkit-transition: .4s;
  transition: .4s; }
.danger-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #e80015; }

.warning-lighter-hover {
  color: #FF8800;
  -webkit-transition: .4s;
  transition: .4s; }
.warning-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffac4d; }

.warning-darker-hover {
  color: #FF8800;
  -webkit-transition: .4s;
  transition: .4s; }
.warning-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #b35f00; }

.success-lighter-hover {
  color: #00C851;
  -webkit-transition: .4s;
  transition: .4s; }
.success-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #16ff74; }

.success-darker-hover {
  color: #00C851;
  -webkit-transition: .4s;
  transition: .4s; }
.success-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #007c32; }

.info-lighter-hover {
  color: #33b5e5;
  -webkit-transition: .4s;
  transition: .4s; }
.info-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #77ceee; }

.info-darker-hover {
  color: #33b5e5;
  -webkit-transition: .4s;
  transition: .4s; }
.info-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #178ab4; }

.default-lighter-hover {
  color: #2BBBAD;
  -webkit-transition: .4s;
  transition: .4s; }
.default-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #5ad9cd; }

.default-darker-hover {
  color: #2BBBAD;
  -webkit-transition: .4s;
  transition: .4s; }
.default-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #1d7d73; }

.secondary-lighter-hover {
  color: #aa66cc;
  -webkit-transition: .4s;
  transition: .4s; }
.secondary-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ca9fdf; }

.secondary-darker-hover {
  color: #aa66cc;
  -webkit-transition: .4s;
  transition: .4s; }
.secondary-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #8639ac; }

.elegant-lighter-hover {
  color: #2E2E2E;
  -webkit-transition: .4s;
  transition: .4s; }
.elegant-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #545454; }

.elegant-darker-hover {
  color: #2E2E2E;
  -webkit-transition: .4s;
  transition: .4s; }
.elegant-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #080808; }

.unique-lighter-hover {
  color: #880e4f;
  -webkit-transition: .4s;
  transition: .4s; }
.unique-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #cd1577; }

.unique-darker-hover {
  color: #880e4f;
  -webkit-transition: .4s;
  transition: .4s; }
.unique-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #430727; }

.dark-green-lighter-hover {
  color: #388E3C;
  -webkit-transition: .4s;
  transition: .4s; }
.dark-green-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #56bc5b; }

.dark-green-darker-hover {
  color: #388E3C;
  -webkit-transition: .4s;
  transition: .4s; }
.dark-green-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #225725; }

.mdb-color-lighter-hover {
  color: #59698D;
  -webkit-transition: .4s;
  transition: .4s; }
.mdb-color-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #8290b0; }

.mdb-color-darker-hover {
  color: #59698D;
  -webkit-transition: .4s;
  transition: .4s; }
.mdb-color-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #3b465e; }

.red-lighter-hover {
  color: #D32F2F;
  -webkit-transition: .4s;
  transition: .4s; }
.red-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #e06e6e; }

.red-darker-hover {
  color: #D32F2F;
  -webkit-transition: .4s;
  transition: .4s; }
.red-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #962020; }

.pink-lighter-hover {
  color: #ec407a;
  -webkit-transition: .4s;
  transition: .4s; }
.pink-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #f386aa; }

.pink-darker-hover {
  color: #ec407a;
  -webkit-transition: .4s;
  transition: .4s; }
.pink-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #cb1452; }

.purple-lighter-hover {
  color: #8e24aa;
  -webkit-transition: .4s;
  transition: .4s; }
.purple-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #b843d7; }

.purple-darker-hover {
  color: #8e24aa;
  -webkit-transition: .4s;
  transition: .4s; }
.purple-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #59176b; }

.deep-purple-lighter-hover {
  color: #512da8;
  -webkit-transition: .4s;
  transition: .4s; }
.deep-purple-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #7651d0; }

.deep-purple-darker-hover {
  color: #512da8;
  -webkit-transition: .4s;
  transition: .4s; }
.deep-purple-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #341d6c; }

.indigo-lighter-hover {
  color: #3f51b5;
  -webkit-transition: .4s;
  transition: .4s; }
.indigo-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #7280ce; }

.indigo-darker-hover {
  color: #3f51b5;
  -webkit-transition: .4s;
  transition: .4s; }
.indigo-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #2b387c; }

.blue-lighter-hover {
  color: #1976D2;
  -webkit-transition: .4s;
  transition: .4s; }
.blue-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #4e9cea; }

.blue-darker-hover {
  color: #1976D2;
  -webkit-transition: .4s;
  transition: .4s; }
.blue-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #11508e; }

.light-blue-lighter-hover {
  color: #82B1FF;
  -webkit-transition: .4s;
  transition: .4s; }
.light-blue-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #cfe1ff; }

.light-blue-darker-hover {
  color: #82B1FF;
  -webkit-transition: .4s;
  transition: .4s; }
.light-blue-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #3681ff; }

.cyan-lighter-hover {
  color: #00bcd4;
  -webkit-transition: .4s;
  transition: .4s; }
.cyan-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #22e6ff; }

.cyan-darker-hover {
  color: #00bcd4;
  -webkit-transition: .4s;
  transition: .4s; }
.cyan-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #007888; }

.teal-lighter-hover {
  color: #00796b;
  -webkit-transition: .4s;
  transition: .4s; }
.teal-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #00c6af; }

.teal-darker-hover {
  color: #00796b;
  -webkit-transition: .4s;
  transition: .4s; }
.teal-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #002d27; }

.green-lighter-hover {
  color: #388E3C;
  -webkit-transition: .4s;
  transition: .4s; }
.green-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #56bc5b; }

.green-darker-hover {
  color: #388E3C;
  -webkit-transition: .4s;
  transition: .4s; }
.green-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #225725; }

.light-green-lighter-hover {
  color: #8bc34a;
  -webkit-transition: .4s;
  transition: .4s; }
.light-green-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #b0d683; }

.light-green-darker-hover {
  color: #8bc34a;
  -webkit-transition: .4s;
  transition: .4s; }
.light-green-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #649130; }

.lime-lighter-hover {
  color: #afb42b;
  -webkit-transition: .4s;
  transition: .4s; }
.lime-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #d2d655; }

.lime-darker-hover {
  color: #afb42b;
  -webkit-transition: .4s;
  transition: .4s; }
.lime-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #73761c; }

.yellow-lighter-hover {
  color: #fbc02d;
  -webkit-transition: .4s;
  transition: .4s; }
.yellow-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #fcd778; }

.yellow-darker-hover {
  color: #fbc02d;
  -webkit-transition: .4s;
  transition: .4s; }
.yellow-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #d79b04; }

.amber-lighter-hover {
  color: #ffa000;
  -webkit-transition: .4s;
  transition: .4s; }
.amber-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffbd4d; }

.amber-darker-hover {
  color: #ffa000;
  -webkit-transition: .4s;
  transition: .4s; }
.amber-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #b37000; }

.orange-lighter-hover {
  color: #f57c00;
  -webkit-transition: .4s;
  transition: .4s; }
.orange-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffa243; }

.orange-darker-hover {
  color: #f57c00;
  -webkit-transition: .4s;
  transition: .4s; }
.orange-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #a95500; }

.deep-orange-lighter-hover {
  color: #ff7043;
  -webkit-transition: .4s;
  transition: .4s; }
.deep-orange-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffaa90; }

.deep-orange-darker-hover {
  color: #ff7043;
  -webkit-transition: .4s;
  transition: .4s; }
.deep-orange-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #f63b00; }

.brown-lighter-hover {
  color: #795548;
  -webkit-transition: .4s;
  transition: .4s; }
.brown-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #a57868; }

.brown-darker-hover {
  color: #795548;
  -webkit-transition: .4s;
  transition: .4s; }
.brown-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #49332b; }

.grey-lighter-hover {
  color: #616161;
  -webkit-transition: .4s;
  transition: .4s; }
.grey-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #878787; }

.grey-darker-hover {
  color: #616161;
  -webkit-transition: .4s;
  transition: .4s; }
.grey-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #3b3b3b; }

.blue-grey-lighter-hover {
  color: #78909c;
  -webkit-transition: .4s;
  transition: .4s; }
.blue-grey-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #a4b4bc; }

.blue-grey-darker-hover {
  color: #78909c;
  -webkit-transition: .4s;
  transition: .4s; }
.blue-grey-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #546973; }

.white-lighter-hover {
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s; }
.white-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: white; }

.white-darker-hover {
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s; }
.white-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #d9d9d9; }

.black-lighter-hover {
  color: #000;
  -webkit-transition: .4s;
  transition: .4s; }
.black-lighter-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #262626; }

.black-darker-hover {
  color: #000;
  -webkit-transition: .4s;
  transition: .4s; }
.black-darker-hover:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: black; }

/*BOTÃO FIXO*/

.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff
}

.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

.btn-floating:before {
    -webkit-border-radius: 0;
    border-radius: 0
}

.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px
}

.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px
}

.btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px
}

.btn-floating.btn-lg i {
    font-size: 1.625rem;
    line-height: 61.1px
} 

.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px
}

.fixed-action-btn ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: .4s height;
    -o-transition: .4s height;
    transition: .4s height;
    position: absolute;
    bottom: 64px;
    height: 64px;
    left: 0;
    right: 0;
    margin: 0 0 15px;
    padding: 0;
    text-align: center
}

.fixed-action-btn ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0
}

.fixed-action-btn ul a.btn-floating {
    opacity: 0;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: scale(.4) translate(0);
    -ms-transform: scale(.4) translate(0);
    transform: scale(.4) translate(0)
}

.fixed-action-btn ul a.btn-floating.shown {
    -webkit-transform: scale(1) translate(0);
    -ms-transform: scale(1) translate(0);
    transform: scale(1) translate(0);
    opacity: 1
}

.fixed-action-btn.active ul {
    height: 300px
}

.btn-floating.btn-flat {
    color: #fff;
    padding: 0;
    background: #4285f4
}

.btn-floating.btn-flat:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-floating.btn-flat:focus,.btn-floating.btn-flat:hover {
    background-color: #5a95f5!important
}

.btn-floating.btn-flat.active {
    background-color: #0b51c5!important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}

html {
	font-size: 1rem;
}

@include media-breakpoint-up(sm) {
	html {
		font-size: 1.2rem;
	}
}

@include media-breakpoint-up(md) {
	html {
		font-size: 1.4rem;
	}
}

@include media-breakpoint-up(lg) {
	html {
		font-size: 1.6rem;
	}
}

.info-strip {
	width: 100%;
	background-color: #A971B0;
}

/*Card Cascade Wider*/

.card.card-cascade.wider {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	max-width: 260px;
	margin: auto;
}

.card.card-cascade .view.view-cascade {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
}

.card.card-cascade.wider .view.view-cascade {
	z-index: 2;
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
}

.img {
	vertical-align: middle;
	border-style: none;
}

.card.card-cascade.wider .card-body.card-body-cascade {
	border-bottom-right-radius: .25rem!important;
	border-bottom-left-radius: .25rem!important;
}

.card.card-cascade.wider .card-body.card-body-cascade {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	margin-left: 4%;
	margin-right: 4%;
	background: #fff;
	z-index: 1;
	-webkit-border-radius: 0 0 .25rem .25rem;
	border-radius: 0 0 .25rem .25rem;
}

/*Animação do menu*/

.lnk-txt:before, .lnk-txt:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #A971B0;
}

.lnk-txt:before {
	opacity: 0;
	-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lnk-txt:after {
	opacity: 0;
	-webkit-transform: translateY(4px);
		transform: translateY(4px);
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lnk-txt:hover:before, .lnk-txt:hover:after, .lnk-txt:focus:before, .lnk-txt:focus:after {
	opacity: 1;
	-webkit-transform: translateY(0);
		transform: translateY(0);
}

.lnk-txt:hover:before, .lnk-txt:focus:before {
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lnk-txt:hover:after, .lnk-txt:focus:after {
	transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*Multi Item Carousel Advance - 1 item per line*/

.carousel-multi-item {
	margin-bottom: 5rem;
}

.carousel-multi-item .controls-top {
	text-align: center;
	margin-bottom: 0.68rem;
}

.carousel-multi-item .controls-top .btn-floating {
	background: #2bbbad;
}

.carousel-multi-item .carousel-indicators {
	margin-bottom: -2em;
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	display: ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
}

.carousel-multi-item .carousel-indicators li {
	height: 1.25rem;
	width: 1.25rem;
	max-width: 1.25rem;
	background-color: #aa66cc;
	margin-bottom: -1.75rem;
}

.carousel-multi-item .carousel-indicators .active {
	height: 1.35rem;
	width: 1.35rem;
	max-width: 1.35rem;
	background-color: #aa66cc;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-next, .carousel-multi-item .carousel-inner.v-2 .carousel-item-prev, .carousel-multi-item .carousel-inner.v-2 .carousel-item.active {
	display: webkit-box;
	display: webkit-flex;
	display: ms-flexbox;
	display: flex;
}

.carousel-multi-item .carousel-inner .carousel-item.active, .carousel-multi-item .carousel-item-next, .carousel-multi-item .carousel-item-prev {
	display: block;
}